<div>
  <div class="yellow-div">
    <p > О КОМПАНИИ</p>
    <h3 >
      Наша команда занимается разработкой и производством  уникальной ножевой продукции
    </h3>
  </div>

  <div class="text">
    <p>
      «Мелита-К» -динамично развивающаяся компания по созданию научно-технических разработок в области металлообработки и их внедрению в серийном производстве собственной продукции
    </p>
  </div>

  <div class="container-big">
    <div class="container-mini"></div>
    <div class="cont">
      <div class="mini-cont">
          <h3>
              OUR MISION
          </h3>
          <h4>
            Creating valuable content for creatives all around the world
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus.
          </p>
      </div>

      <div class="mini-cont">
          <h3>
            OUR VISION
          </h3>
          <h4>
            A platform that empowers individuals to improve
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus.
          </p>
      </div>
    </div>
  </div>

  <div class="main">
    <div routerLink="{{go_knives}}" class="container-cat">
      <div class="container-left">
        <div class="minic">
          <h3>
              НОЖИ
          </h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.          </p>
        </div>
      </div>
      <div class="container-right">
        <div class="container-image">
          <img class="image" src="assets/about-company/Н1.jpg" >
        </div>
        <div class="container-image">
          <img class="image" src="assets/about-company/Н2.jpg" >
        </div>
      </div>
    </div>

    <div routerLink="{{go_avia}}" class="container-cat">
      <div class="container-left">
        <div class="minic">
          <h3>
              АВИАЦИЯ
          </h3>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.          </p>
        </div>
      </div>
      <div class="container-right">
        <div class="container-image">
          <img class="image" src="assets/about-company/Лопатка1.jpg" >
        </div>
        <div class="container-image">
          <img class="image" src="assets/about-company/Лопатка2.jpg" >
        </div>     </div>
    </div>

<div class="end-text">
  <h3>
    Сотрудничая с нами, Вы приобретаете надежного делового партнера с наилучшими условиями для сотрудничества!
  </h3>
  <h4>
    «Наши клиенты всегда правы, их доверие превыше всего»<br>
    Мы надеемся на долгое и перспективное сотрудничество.
  </h4>
</div>

  </div>
</div>

